.env
__pycache__/
*.pyc
.venv/
env/
venv/
node_modules/

# Logs and Databases
*.log
*.db
*.sqlite3

# Editor directories
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
.env
.frontend
api9